/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Alerts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Alerts
--------------------------------------------------------------*/
.awsm-pro-activate-notice {
	position: relative;
}

.awsm-pro-activate-notice .notice-dismiss::before {
	position: absolute;
	top: 8px;
	left: 0;
	transition: all .1s ease-in-out;
}

.awsm-pro-activate-notice .notice-dismiss {
	position: absolute;
	z-index: 10;
	right: 10px;
	padding: 10px 15px 10px 21px;
	text-decoration: none;
}
